<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ .title }}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
        <link href="/static/stylesheets/all.css" rel="stylesheet">
        <script src="/static/javascript/all.js"></script>
    </head>
    <body>
        <h1>Timeline</h1>
        {{ range .Repositories }}
            <p>{{.Name}}</p>
        {{ end }}
    </body>
</html>